<!DOCTYPE html>
<html>
<head>
	<title>Actividades</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet">
	<meta name="theme-color" content="#505a8d">
	<meta name="msapplication-navbutton-color" content="#505a8d">
	<meta name="apple-mobile-web-app-status-bar-style" content="#505a8d">
</head>
<body style="overflow: hidden;">

	<div class="cont" style=" overflow-y: scroll">

		<h1>Actividades</h1>

		<div class="linea"></div>

		<a href="registro_caminata.php"><div class="actividades">
			<img src="img/bañarse.jpg">
			<h1>Baño</h1>
			<div class="go">
			</div>
		</div>
		</a>


		<a href="registro_correr.php"><div class="actividades">
			<img src="img/dientes.jpg">
			<h1>Lavar Dientes</h1>
			<div class="go">
			</div>
		</div>
		</a>


		<a href="registro_bici.php"><div class="actividades">
			<img src="img/manos.jpg">
			<h1>Lavar Manos</h1>
			<div class="go">
			</div>
		</div>
		</a>
		

		<a href="registro_nadar.php"><div class="actividades">
			<img src="img/cara.jpg">
			<h1>Lavar Cara</h1>
			<div class="go">
			</div>
		</div>
		</a>

	</div>



	<div class="menu">
		<a href="grupos.html"><div class="tab  tab-activo">
			<img src="img/grupo.png">
			<p>Grupos</p>
		</div>
		</a>

		<a href="actividades.html"><div class="tab tab-activo">
			<img src="img/regadera2.png">
			<p>Actividades</p>
		</div>
		</a>

		<a href="ajustes.html"><div class="tab">
			<img src="img/ajustes.png">
			<p>Ajustes</p>
		</div>
		</a>

		<a href="main.html"><div class="tab">
			<img src="img/perfil.png">
			<p>Perfil</p>
		</div>
		</a>
	</div>


</body>
</html>